<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="creakok.com.mapper.GoodsReviewMapper">
    <select id="review_list" resultType="Goods_Review" parameterType="long">
       select * from GOODS_REVIEW where GOODS_INDEX=${goods_index}
    </select>
 
</mapper>