<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="creakok.com.mapper.IndexMapper">
	<select id="selectFundingByWdate"  resultType="Funding">
		<![CDATA[select *
		from 
		 (
		  select *
		  from FUNDING
		  order by FUNDING_WDATE desc
		 )
		where ROWNUM <= 4]]>
	</select>
 
    <select id="selectFundingByAmount"  resultType="Funding">
        <![CDATA[select *
        from 
         (
          select *
          from FUNDING
          order by FUNDING_AMOUNT desc
         )
        where ROWNUM <= 5]]>
    </select>
    
 	<select id="selectFundingCategoryN"  resultType="String" parameterType="long">
 		select FUNDING_CATEGORY_NAME from FUNDING_CATEGORY where FUNDING_CATEGORY_CODE=${category_code}
 	</select>   
 	
	<select id="selectCreator"  resultType="Creator">
		<![CDATA[select *
		from 
		 (
		  select *
		  from CREATOR
		  order by CREATOR_NAME desc
		 )
		where ROWNUM <= 3]]>
	</select> 	
	
	<select id="selectGoodsByReview" resultType="Goods">
		<![CDATA[select *
		from 
		 (
		  select *
		  from GOODS
		  order by GOODS_REVIEW_NUMBER desc
		 )
		where ROWNUM <= 4]]>
	</select> 
	
	<select id="selectAllCreator" resultType="Creator">
		select * from CREATOR
	</select>
	
	<select id="selectCreatorBySearch" resultType="Creator" parameterType="String">
		select * from CREATOR where CREATOR_NAME like '%'||#{creator_name}||'%'
	</select>	
	
	<select id="selectSearchFunding" resultType="Funding" parameterType="Funding_searchVo">
		<![CDATA[select * from (select ROWNUM rnum, aa.* from
		(select * from FUNDING where FUNDING_SUBJECT like '%'||#{keyword}||'%' or 
		CREATOR_NAME like '%'||#{keyword}||'%' order by FUNDING_WDATE desc) aa)
		where rnum>${(funding_cp-1)*funding_ps} and rnum<=${funding_cp*funding_ps}
		]]>
    </select>   
    
    <select id="selectFundingCountBySearch" resultType="long" parameterType="String">
		select COUNT(FUNDING_INDEX) from FUNDING where FUNDING_SUBJECT like '%'||#{keyword}||'%' or 
		CREATOR_NAME like '%'||#{keyword}||'%'
	</select>	
	
	<insert id="insertOneQnA" parameterType="Contact">
        insert into CONTACT values(CONTACT_INDEX_SEQ.nextval, #{contact_name}, #{contact_email}, #{contact_subject}, #{contact_message}, null)
    </insert>
</mapper>
