<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="creakok.com.mapper.LikeTableMapper">

  <select id="selectByTypeAndContentIndex" parameterType="LikeTable" resultType="long">
    select COUNT(LIKE_MEMBER_EMAIL) from LIKE_TABLE 
    where LIKE_TYPE_CODE=#{like_type_code} 
    and LIKE_CONTENT_INDEX=#{like_content_index}
    and LIKE_MEMBER_EMAIL=#{like_member_email}
  </select>

  <insert id="insertLikeTable" parameterType="LikeTable">
    insert into LIKE_TABLE(LIKE_TYPE_CODE, LIKE_CONTENT_INDEX, LIKE_MEMBER_EMAIL) 
      values(#{like_type_code}, #{like_content_index}, #{like_member_email})
  </insert>
  
  <delete id="deleteLike" parameterType="LikeTable">
      delete from LIKE_TABLE
      where LIKE_TYPE_CODE=#{like_type_code} 
	    and LIKE_CONTENT_INDEX=#{like_content_index}
	    and LIKE_MEMBER_EMAIL=#{like_member_email}
  </delete>
  
</mapper>