<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="creakok.com.mapper.LikeTableMapper">

  <select id="selectByTypeAndContentIndex" parameterType="LikeTable" resultType="long">
    select COUNT(LIKE_MEMBER_EMAIL) from LIKE_TABLE 
    where LIKE_TYPE_CODE=#{like_type_code} 
    and LIKE_CONTENT_INDEX=#{like_content_index}
    and LIKE_MEMBER_EMAIL=#{like_member_email}
  </select>
  
  <select id="selectByTypeCodeAndEmail" parameterType="LikeTable" resultType="LikeTable">
    select * from LIKE_TABLE 
    where LIKE_TYPE_CODE=#{like_type_code} 
    and LIKE_MEMBER_EMAIL=#{like_member_email}
  </select>

  <insert id="insertLikeTable" parameterType="LikeTable">
    insert into LIKE_TABLE(LIKE_TYPE_CODE, LIKE_CONTENT_INDEX, LIKE_MEMBER_EMAIL) 
      values(#{like_type_code}, #{like_content_index}, #{like_member_email})
  </insert>
  
  <delete id="deleteLike" parameterType="LikeTable">
      delete from LIKE_TABLE
      where LIKE_TYPE_CODE=#{like_type_code} 
	    and LIKE_CONTENT_INDEX=#{like_content_index}
	    and LIKE_MEMBER_EMAIL=#{like_member_email}
  </delete>
  
	<select id="selectByFundingIndex" parameterType="long" resultType="Funding">
	    select * from FUNDING where FUNDING_INDEX=${funding_index}
	</select>

    <select id="selectByGoodsIndex" parameterType="long" resultType="Goods">
        select * from GOODS where GOODS_INDEX=${goods_index}
    </select>

  <!-- 하트 클릭시 커뮤니티 게시글에 BOARD_LIKE 컬럼 증/감 -->
  <update id="increaseBoardLike" parameterType="LikeTable">
  	update CREATOR_BOARD set BOARD_LIKE = BOARD_LIKE + 1 where BOARD_INDEX = #{like_content_index}
  </update> 
  
  <update id="decreaseBoardLike" parameterType="LikeTable">
  	update CREATOR_BOARD set BOARD_LIKE = BOARD_LIKE - 1 where BOARD_INDEX = #{like_content_index}
  </update>
    
  <!-- 증감된 BOARD_LIKE 값을 가져오기 위해 -->
  <select id="getNewBoardLike" parameterType="LikeTable" resultType="Long">
  	select count(*) from LIKE_TABLE where LIKE_CONTENT_INDEX = ${like_content_index} and LIKE_TYPE_CODE = ${like_type_code} 
  </select>
  
  
</mapper>