<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="creakok.com.mapper.ProjectMapper">
	<insert id="writeFundingProject" parameterType="Funding" >
      insert into FUNDING values(
     FUNDING_INDEX.nextval, #{creator_name},
     #{funding_subject},
     ${funding_category_code},
     #{funding_repre_pic},
    #{funding_detail_pic},
     ${funding_goal},
     0,
     #{funding_wdate},
   	  #{funding_edate},
     0,
     0,
     null,  null)
    </insert>
   
    <insert id="insertOneGoods" parameterType="Goods">
       insert into GOODS values(GOODS_INDEX_SEQ.nextval, ${goods_category_code}, #{goods_name}, ${goods_price}, #{goods_repre_pic}, #{goods_detail_pic}, #{creator_name}, 0, 0, ${goods_stock_number}, 0, null)     
	</insert>
</mapper>
