dy, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url("../img/signin_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  height: 100%;

  align-content: center;
}

.card {
  width: 30%;
  height: 50%;
  margin-top: 20%;
  margin-bottom: auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

p {
  color: black;
  font-size: 1.75rem;
  font-weight: bold;
}

hr {
  border: 1px solid rgba(125, 125, 125, 0.5);
  margin-top:5px;
  margin-bottom:5px;
}

input {
  width: 300px;
  height:45px;
  padding: 0.5rem 0.5rem;
  border: 3px solid #fff;
  background-color: rgba(25, 25, 25, 0.6);
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

.btn {
  font-weight: bold;
  border: none;
  border-radius: 300px;
  font-family: 'Nanum Gothic', sans-serif;
}

.btn-xl {
  width: 300px;
  padding: 0.75rem 3rem;
}

.btn-sm {
  padding: 0.5rem 1.25rem;
  color: black;
  background-color: #fff;
  border-color: #fff;
}

.btn-sm:hover, .btn-sm:focus, .btn-sm:active {
  color: white;	
  background-color: black;

}

.btn-signin {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
.btn-signin:hover, .btn-signup:focus, .btn-signup:active {
  color: #fff;
  background-color:black;
}
.btn.btn-xl.btn-signin:hover{
  color: #fff;
  background-color:black;
}
.btn-signup {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-signup:hover, .btn-signup:focus, .btn-signup:active {
  color: black;
  background-color:black;
}

.btn-signup:active, .btn-signup:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(2, 136, 209, 0.6);
  box-shadow: 0 0 0 0.2rem rgba(2, 136, 209, 0.6);
}

.btn-kakao {
  color: #3c1e1e;
  background-color: #ffeb00;
  border-color: #ffeb00;
}



.btn-kakao:active, .btn-kakao:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 222, 0, 0.6);
  box-shadow: 0 0 0 0.2rem rgba(255, 222, 0, 0.6);
}

*:focus {
    outline: none;
}